[*.cs]

# IDE0027: Usa il corpo dell'espressione per le funzioni di accesso
csharp_style_expression_bodied_accessors = false

# IDE0022: Usa il corpo del blocco per i metodi
csharp_style_expression_bodied_methods = false
